

body{
    font-family: 'Montserrat','Gothic A1', sans-serif;
    font-weight: 300;
    letter-spacing: -0.085em;
}

ul,li{
    list-style: none;
}
a, p{
    text-decoration: none;
    color: #262626;
}

#header{
    background-color: #c8dbf6;
    height: 500px;
}

.boxs{
    background-color: #efefef;
    border-radius: 35px;
}
.bgcircle{
    background-color: #006edb;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;            
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;   
    margin-right: 8px;     
    i{
        color: white;
        padding-right: 2px;
    }
}

/* about */
@media screen and (max-width: 768px) {
    #about{
        .about1{
            .aboutimg_ment{
                padding-left: 0 !important;
                h2{
                    padding-top: 7px;
                }
            }
        }
        .about2{
            .word{
                padding: 0;
                margin-right: 10px;
            }
        }
    }
    #quick{
        display: none;
    }
}
// ---------------------------------------------------------------------------
#header{
    .hd{
        text-align: center;
        color: #006edb;
        position: relative;
        z-index: 11000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title_ment{
            padding: 10px 80px 10px 80px;
            border: 5px solid #006edb;
            border-radius: 60px;
        }
    }
}


#about{
        padding: 0 50px;
        .titbox{
            padding-top: 30px;           
            &:before{
                content: "";
                display: block;
                background-color: #006edb;
                width: 9px;                
            }
            .ptitle{
                padding-left: 5px;
            }}
    .aboutimg_ment{
        padding-left: 90px;
        h2{
            color: #006edb;
            font-size: 20px;
            font-weight: bold;
        }
        // .about_date{
        //     font-size: 13px;
        // }
        // .about_ment{
        //     font-size: 15px;
        // }
    }
    .about2{
        justify-content: space-between;
        .bgcircle{          
        }
    }
    .about3{
        .bgcircle{
        }
        .swiper{
            height: 150px;
        }
        .swiper-slide{
            padding:25px  10px  25px 50px;
                .sbox{
                    .sboxdate{
                        font-size: 13px;
                        color: #2196F3;
                        /* border-radius: 30px; */
                        border-bottom: 1px solid #2196F3;
                        display: inline-block;
                        padding: 5px 0 5px 0;
                    }
                }
        }
        
    }
    .about4{
        .bgcircle{
        }
        .about4box{
            line-height: 1.2rem;
            .box4{
                .box4date{
                    font-size: 13px;
                    color: #2196F3;
                    /* border-radius: 30px; */
                    border-bottom: 1px solid #2196F3;
                    display: inline-block;
                    padding: 5px 0 5px 0;
                }
            }
            .box5{
                padding: 5px 0 5px 0;
            }
        }
    }
}
#skill{
    padding: 20px 50px;
    .about5{
        
    }
    .skillbox{
        padding-top: 6px;
    &.aos-animate{
        .skill1_mini{
            position: relative;
            &:before{
                width:30% !important;
            }
            p{
                position: absolute;
                top: -12px;
                left: 31%;
            }
        }
        .skill2_mini{
            position: relative;
            &:before{
                width:50% !important;
            }
            p{
                position: absolute;
                top: -12px;
                left: 51%;
            }
        }
        .skill3_mini{
            position: relative;
            &:before{
                width:70% !important;
            }
            p{
                position: absolute;
                top: -12px;
                left: 71%;
            }
        }
        .skill4_mini{
            position: relative;
            &:before{
                width:80% !important;
            }
            p{
                position: absolute;
                top: -12px;
                left: 81%;
            }
        }
        .skill5_mini{
            position: relative;
            &:before{
                width:100% !important;
            }
            p{
                position: absolute;
                top: -12px;
                left: 101%;
            }
        }
        .skill6_mini{
            position: relative;
            &:before{
                width:100% !important;
            }
            p{
                position: absolute;
                top: -12px;
                left: 101%;
            }
        }
    }

    
        .skill1{
            .ado{
                padding-left: 8px;
            }
            .skill1_box{
                .skill1_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 1s; 
                        transition-delay: 0.5s;
                    }
                }
            }
        }
        .skill2{
            padding-top: 3px;
            .skill2_box{
               
                .skill2_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 1s; 
                        transition-delay: 0.6s;
                    }
                }
            }
        }
        .skill3{
            padding-top: 3px;
            .skill3_box{
               
                .skill3_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 1s; 
                        transition-delay: 0.7s;
                    }
                }
            }
        }
        
        .skill4{
            padding-top: 6px;
            .skill4_box{
               
                .skill4_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 1s; 
                        transition-delay: 0.8s;
                    }
                }
            }
        }
        .skill5{
            padding-top: 6px;
            img{
                padding-top: 6px;
            }
            .skill5_box{
               
                .skill5_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 0.5s; 
                        transition-delay: 0.9s;
                    }
                }
            }
        }
    }
}

#portfolio{
    background-color: #c8dbf6;
    overflow: hidden;
    .por_titbox{
        &:before{
            content: "";
            display: block;
            background-color: #006edb;
            width: 9px;                
        }
        .ptitle{
            text-align: center;
            padding-left: 5px;
        }
    }
    .portbox{
        .pimg{
            width: 45%;
        }
        .pimg1{
            width: 45%;
            margin-left: 10px;
        }
        .portment1{
            padding: 25px;
            .p1_ment2{
                padding: 2px;
                background-color: #d3d3d3;
                display: inline-block;
                color: white;
            }
        }
        .p1_ment3{
            padding-top: 20px;
        }
    }
}
#interview{
    .titbox{
        &:before{
            content: "";
            display: block;
            background-color: #006edb;
            width: 9px;                
        }
        .ptitle{
            text-align: center;
            padding-left: 5px;
        }
    }
    .inbox{
        li{
            border-bottom: 1px solid #ddd;
            a{
                position: relative;
                display: block;
                padding : 20px 0 20px 85px;
                &:before{
                    content: "";
                    position: absolute;
                    right: 30px;
                    top: 35px;
                    background: url(/img/sprite.png) no-repeat -93px -70px;
                    width: 17px;
                    height: 19px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 30px;
                    top: 23px;
                    background: url(/img/q.png) no-repeat;
                    width: 34px;
                    height: 34px;
                }
                div{
                    width: 90%;
                    overflow: hidden;
                }
            }
            .answer{
                display: none;
                position: relative;
                margin-bottom: 20px;
                padding: 0 0 20px 85px;
                .text{
                    padding: 20px 0 0;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 30px;
                    top: 13px;
                    background: url(/img/a.png) no-repeat;
                    width: 34px;
                    height: 34px;
                }
                &.on{
                    display: block;
                }
            }
        }
    }
}
#contact{
    background-color: #c8dbf6;
    .contitbox{
        &:before{
            content: "";
            display: block;
            background-color: #006edb;
            width: 9px;                
        }
        .ctitle{
            text-align: center;
            padding-left: 5px;
        }
    }
    .contactform{
        padding-bottom: 1rem;
        .form{
            max-width: 1030px;
            margin: 0px auto;
            background-color: white;
            padding: 60px;
            border: solid 2px #006edb;
            font-size: 19px;
            .oa{
                max-width: 185px;
                width: 25%;
                padding-right: 2rem;
            }
            .cotact_mini{
                width: 300px;
            }
            .box2, .box3, .box4, .box5{
                padding-top: 10px;
            }
            .box4 li{
                padding-right: 30px;
            }
            .box5 li{
                padding-right: 30px;
            }
            .personal{
                padding-top: 10px;
                text-align: center;
            }
            .bts{
                text-align: center;
                padding-top: 30px;
            }
        }
    }
}


.skillbox{
    >div{
        >div:first-child{
            max-width: 128px;
            width:25%;
            padding-right: 2rem;
            img{
                max-width:100%;
                height:auto;
                flex-grow: 1;
            }
        }
    }
}

#footer{
    text-align: center;
    font-size: 20px;
    padding: 35px;
    // .fbox{
    //     justify-content: center;
    //     align-items: center;
    //     padding-top: 15px;
    // }
    // .fli{
    //     padding: 0 30px;
    // }
}

#quick{
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 10;
    // .kakao{
    //     margin-bottom: 0.5rem;
    //     .kakao_a{
    //         align-items: center;
    //         border-radius: 50%;
    //         display: flex;
    //         flex-direction: column;
    //         height: 70px;
    //         justify-content: center;
    //         overflow: hidden;
    //         width: 70px;
    //         background-color: white;
    //     }
    // }
    .q_top{
        padding-top: 5px;
        .quick_top{
            align-items: center;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            height: 57px;
            justify-content: center;
            overflow: hidden;
            width: 57px;
            background-color: #006edb;
        }
    }

}