body {
  font-family: "Montserrat", "Gothic A1", sans-serif;
  font-weight: 300;
  letter-spacing: -0.085em;
}

ul, li {
  list-style: none;
}

a, p {
  text-decoration: none;
  color: #262626;
}

#header {
  background-color: #c8dbf6;
  height: 500px;
}

.boxs {
  background-color: #efefef;
  border-radius: 35px;
}

.bgcircle {
  background-color: #006edb;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.bgcircle i {
  color: white;
  padding-right: 2px;
}

/* about */
@media screen and (max-width: 768px) {
  #about .about1 .aboutimg_ment {
    padding-left: 0 !important;
  }
  #about .about1 .aboutimg_ment h2 {
    padding-top: 7px;
  }
  #about .about2 .word {
    padding: 0;
    margin-right: 10px;
  }
  #quick {
    display: none;
  }
}
#about {
  padding: 0 50px;
}
#about .titbox {
  padding-top: 30px;
}
#about .titbox:before {
  content: "";
  display: block;
  background-color: #006edb;
  width: 9px;
}
#about .titbox .ptitle {
  padding-left: 5px;
}
#about .aboutimg_ment {
  padding-left: 90px;
}
#about .aboutimg_ment h2 {
  color: #006edb;
  font-size: 20px;
  font-weight: bold;
}
#about .about2 {
  justify-content: space-between;
}
#about .about3 .swiper {
  height: 150px;
}
#about .about3 .swiper-slide {
  padding: 25px 10px 25px 50px;
}
#about .about3 .swiper-slide .sbox .sboxdate {
  font-size: 13px;
  color: #2196F3;
  /* border-radius: 30px; */
  border-bottom: 1px solid #2196F3;
  display: inline-block;
  padding: 5px 0 5px 0;
}
#about .about4 .about4box {
  line-height: 1.2rem;
}
#about .about4 .about4box .box4 .box4date {
  font-size: 13px;
  color: #2196F3;
  /* border-radius: 30px; */
  border-bottom: 1px solid #2196F3;
  display: inline-block;
  padding: 5px 0 5px 0;
}
#about .about4 .about4box .box5 {
  padding: 5px 0 5px 0;
}

#skill {
  padding: 20px 50px;
}
#skill .skillbox {
  padding-top: 6px;
}
#skill .skillbox.aos-animate .skill1_mini {
  position: relative;
}
#skill .skillbox.aos-animate .skill1_mini:before {
  width: 30% !important;
}
#skill .skillbox.aos-animate .skill1_mini p {
  position: absolute;
  top: -12px;
  left: 31%;
}
#skill .skillbox.aos-animate .skill2_mini {
  position: relative;
}
#skill .skillbox.aos-animate .skill2_mini:before {
  width: 50% !important;
}
#skill .skillbox.aos-animate .skill2_mini p {
  position: absolute;
  top: -12px;
  left: 51%;
}
#skill .skillbox.aos-animate .skill3_mini {
  position: relative;
}
#skill .skillbox.aos-animate .skill3_mini:before {
  width: 70% !important;
}
#skill .skillbox.aos-animate .skill3_mini p {
  position: absolute;
  top: -12px;
  left: 71%;
}
#skill .skillbox.aos-animate .skill4_mini {
  position: relative;
}
#skill .skillbox.aos-animate .skill4_mini:before {
  width: 80% !important;
}
#skill .skillbox.aos-animate .skill4_mini p {
  position: absolute;
  top: -12px;
  left: 81%;
}
#skill .skillbox.aos-animate .skill5_mini {
  position: relative;
}
#skill .skillbox.aos-animate .skill5_mini:before {
  width: 100% !important;
}
#skill .skillbox.aos-animate .skill5_mini p {
  position: absolute;
  top: -12px;
  left: 101%;
}
#skill .skillbox.aos-animate .skill6_mini {
  position: relative;
}
#skill .skillbox.aos-animate .skill6_mini:before {
  width: 100% !important;
}
#skill .skillbox.aos-animate .skill6_mini p {
  position: absolute;
  top: -12px;
  left: 101%;
}
#skill .skillbox .skill1 .ado {
  padding-left: 8px;
}
#skill .skillbox .skill1 .skill1_box .skill1_mini {
  height: 3px;
}
#skill .skillbox .skill1 .skill1_box .skill1_mini:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #006edb;
  transition: width 1s;
  transition-delay: 0.5s;
}
#skill .skillbox .skill2 {
  padding-top: 3px;
}
#skill .skillbox .skill2 .skill2_box .skill2_mini {
  height: 3px;
}
#skill .skillbox .skill2 .skill2_box .skill2_mini:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #006edb;
  transition: width 1s;
  transition-delay: 0.6s;
}
#skill .skillbox .skill3 {
  padding-top: 3px;
}
#skill .skillbox .skill3 .skill3_box .skill3_mini {
  height: 3px;
}
#skill .skillbox .skill3 .skill3_box .skill3_mini:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #006edb;
  transition: width 1s;
  transition-delay: 0.7s;
}
#skill .skillbox .skill4 {
  padding-top: 6px;
}
#skill .skillbox .skill4 .skill4_box .skill4_mini {
  height: 3px;
}
#skill .skillbox .skill4 .skill4_box .skill4_mini:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #006edb;
  transition: width 1s;
  transition-delay: 0.8s;
}
#skill .skillbox .skill5 {
  padding-top: 6px;
}
#skill .skillbox .skill5 img {
  padding-top: 6px;
}
#skill .skillbox .skill5 .skill5_box .skill5_mini {
  height: 3px;
}
#skill .skillbox .skill5 .skill5_box .skill5_mini:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #006edb;
  transition: width 0.5s;
  transition-delay: 0.9s;
}

#portfolio {
  background-color: #c8dbf6;
  overflow: hidden;
}
#portfolio .por_titbox:before {
  content: "";
  display: block;
  background-color: #006edb;
  width: 9px;
}
#portfolio .por_titbox .ptitle {
  text-align: center;
  padding-left: 5px;
}
#portfolio .portbox .pimg {
  width: 45%;
}
#portfolio .portbox .pimg1 {
  width: 45%;
  margin-left: 10px;
}
#portfolio .portbox .portment1 {
  padding: 25px;
}
#portfolio .portbox .portment1 .p1_ment2 {
  padding: 2px;
  background-color: #d3d3d3;
  display: inline-block;
  color: white;
}
#portfolio .portbox .p1_ment3 {
  padding-top: 20px;
}

#interview .titbox:before {
  content: "";
  display: block;
  background-color: #006edb;
  width: 9px;
}
#interview .titbox .ptitle {
  text-align: center;
  padding-left: 5px;
}
#interview .inbox li {
  border-bottom: 1px solid #ddd;
}
#interview .inbox li a {
  position: relative;
  display: block;
  padding: 20px 0 20px 85px;
}
#interview .inbox li a:before {
  content: "";
  position: absolute;
  right: 30px;
  top: 35px;
  background: url(/img/sprite.png) no-repeat -93px -70px;
  width: 17px;
  height: 19px;
}
#interview .inbox li a:after {
  content: "";
  position: absolute;
  left: 30px;
  top: 23px;
  background: url(/img/q.png) no-repeat;
  width: 34px;
  height: 34px;
}
#interview .inbox li a div {
  width: 90%;
  overflow: hidden;
}
#interview .inbox li .answer {
  display: none;
  position: relative;
  margin-bottom: 20px;
  padding: 0 0 20px 85px;
}
#interview .inbox li .answer .text {
  padding: 20px 0 0;
}
#interview .inbox li .answer:after {
  content: "";
  position: absolute;
  left: 30px;
  top: 13px;
  background: url(/img/a.png) no-repeat;
  width: 34px;
  height: 34px;
}
#interview .inbox li .answer.on {
  display: block;
}

#contact {
  background-color: #c8dbf6;
}
#contact .contitbox:before {
  content: "";
  display: block;
  background-color: #006edb;
  width: 9px;
}
#contact .contitbox .ctitle {
  text-align: center;
  padding-left: 5px;
}
#contact .contactform {
  padding-bottom: 1rem;
}
#contact .contactform .form {
  max-width: 1030px;
  margin: 0px auto;
  background-color: white;
  padding: 60px;
  border: solid 2px #006edb;
  font-size: 19px;
}
#contact .contactform .form .oa {
  max-width: 185px;
  width: 25%;
  padding-right: 2rem;
}
#contact .contactform .form .cotact_mini {
  width: 300px;
}
#contact .contactform .form .box2, #contact .contactform .form .box3, #contact .contactform .form .box4, #contact .contactform .form .box5 {
  padding-top: 10px;
}
#contact .contactform .form .box4 li {
  padding-right: 30px;
}
#contact .contactform .form .box5 li {
  padding-right: 30px;
}
#contact .contactform .form .personal {
  padding-top: 10px;
  text-align: center;
}
#contact .contactform .form .bts {
  text-align: center;
  padding-top: 30px;
}

.skillbox > div > div:first-child {
  max-width: 128px;
  width: 25%;
  padding-right: 2rem;
}
.skillbox > div > div:first-child img {
  max-width: 100%;
  height: auto;
  flex-grow: 1;
}

#footer {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

#quick {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 10;
}
#quick .q_top {
  padding-top: 5px;
}
#quick .q_top .quick_top {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 57px;
  justify-content: center;
  overflow: hidden;
  width: 57px;
  background-color: #006edb;
}