

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
ul,li{
    list-style: none;
}
a, p{
    text-decoration: none;
    color: #262626;
}

#header{
    background-color: #c8dbf6;
    height: 500px;
}

/* about */

#about{
    padding-top: 5rem;
    .aboutbox{
        padding: 0 50px;
        .titbox{
            padding-top: 30px;
            align-items: center;
            justify-content: center;
            div{
                background-color: #006edb;
                width: 9px;
                height: 20px;
            }
            .ptitle{
                text-align: center;
                padding-left: 5px;
            }}
    }
    .word{
        padding-left: 5px;
        padding-top: 2px;
    }
    .about1{
        justify-content: center;
    }
    .aboutimg_ment{
        padding-left: 90px;
        h2{
            color: #006edb;
            font-size: 20px;
            font-weight: bold;
        }
        .about_date{
            font-size: 13px;
        }
        .about_ment{
            font-size: 15px;
        }
    }
    .about2{
        justify-content: space-between;
        padding-top: 20px;
        .phone{
            background-color: #006edb;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            padding-top: 3px;
            i{
                color: white;
            }
        }
        .memail{
            .email{
                background-color: #006edb;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-align: center;
                padding-top: 3px;
                i{
                    color: white;
                }
            }
        }
        .website{
            background-color: #006edb;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            padding-top: 3px;
            i{
                color: white;
            }
        }
    }
    .about3{
        .uni{
            background-color: #006edb;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-align: center;
                padding-top: 3px;
                
                i{
                    color: white;
                }
        }
        .swiper{
            height: 150px;
        }
        .swiper-slide{
            background-color: #efefef;
            border-radius: 35px;
            .swiper-box{
                justify-content: space-around;
                padding-top: 40px;
                .sbox{
                    text-align: center;
                    .sboxdate{
                        font-size: 13px;
                        color: #737373;
                    }
                }
            }
        }
        
    }
    .about4{
        padding-top: 13px;
        .about4box{
            justify-content: space-between;
            .box4{
                background-color: #efefef;
                border-radius: 35px;
                width: 500px;
                height: 120px;
                justify-content: space-around;
                padding-top: 30px;
                text-align: center;
                .box4date{
                    font-size: 13px;
                    color: #737373;
                }
            }
            .certifi{
                // padding-left: 50px;
                .box5 {
                    background-color: #efefef;
                    border-radius: 35px;
                    width: 300px;
                    height: 120px;
                    padding-top: 30px;
                    padding-left: 40px;
                    .box5-2{
                        padding-left: 15px;
                    }
                }
            }
            
        }
        
        .company{
            background-color: #006edb;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-align: center;
                padding-top: 3px;
                i{
                    color: white;
                }
        }
        .certificate{
            background-color: #006edb;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-align: center;
                padding-top: 3px;
                i{
                    color: white;
                }
        }
    }
}
#skill{
    padding: 20px 50px;
    .about5{
        .ski{
            background-color: #006edb;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            padding-top: 3px;
            i{
                color: white;
            }
        }
        .word{
            padding-left: 5px;
            padding-top: 2px;
        }
    }
    .skillbox{


    &.aos-animate{
        .skill1_mini{
            position: relative;
            &:before{
                width:60% !important;
            }
            p{
                position: absolute;
                top: -12px;
                left: 61%;
            }
        }
        .skill2_mini{
            position: relative;
            &:before{
                width:60% !important;
            }
            p{
                position: absolute;
                top: -12px;
                left: 61%;
            }
        }
        .skill3_mini{
            position: relative;
            &:before{
                width:80% !important;
            }
        }
        .skill10_mini{
            position: relative;
            &:before{
                width:50% !important;
            }
        }
        .skill11_mini{
            position: relative;
            &:before{
                width:80% !important;
            }
        }
    }


        .skill1{
            .ado{
                padding-left: 8px;
            }
            .skill1_box{
                padding-left: 35px;
                .skill1_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 0.5s; 
                        transition-delay: 0.5s;
                    }
                }
            }
        }
        .skill2{
            padding-top: 3px;
            .skill2_box{
                padding-left: 103px;
                .skill2_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 0.5s; 
                        transition-delay: 0.5s;
                    }
                }
            }
        }
        .skill3{
            padding-top: 3px;
            .skill3_box{
                padding-left: 43px;
                .skill3_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 0.5s; 
                        transition-delay: 0.5s;
                    }
                }
            }
        }
        
        .skill10{
            padding-top: 6px;
            .skill10_box{
                padding-left: 103px;
                .skill10_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 0.5s; 
                        transition-delay: 0.5s;
                    }
                }
            }
        }
        .skill11{
            padding-top: 6px;
            img{
                width: 100px;
                padding-top: 6px;
            }
            .skill11_box{
                padding-left: 64px;
                .skill11_mini{
                    height: 3px;
                    &:before{
                        content: "";
                        position: absolute;
                        left:0; top:0;
                        bottom:0;
                        width:0;
                        background-color: #006edb;
                        transition: width 0.5s; 
                        transition-delay: 0.5s;
                    }
                }
            }
        }
    }
}
#portfolio{
    background-color: #c8dbf6;
    height: 600px;
    overflow: hidden;
    .por_titbox{
        padding-top: 30px;
        align-items: center;
        justify-content: center;
        div{
            background-color: #006edb;
            width: 9px;
            height: 20px;
        }
        .ptitle{
            text-align: center;
            padding-left: 5px;
        }
    }
    
    .portbox{
        .pimg{
            background-color: white;
            width: 300px;
            height: 400px;
        }
        .portment1{
            align-items: center;
            padding-top: 50px;
            .p1_ment2{
                padding: 2px;
                background-color: #d3d3d3;
                display: inline-block;
                color: white;
            }
        }
        .p1_ment3{
            padding-top: 20px;
        }
    }
}
#interview{
    height: 1000px;
    .titbox{
        padding-top: 30px;
        align-items: center;
        justify-content: center;
        div{
            background-color: #006edb;
            width: 9px;
            height: 20px;
        }
        .ptitle{
            text-align: center;
            padding-left: 5px;
        }
    }
    .inbox{
        border-top: 1px solid #ddd;
        li{
            border-bottom: 1px solid #ddd;
            a{
                position: relative;
                display: block;
                padding: 30px 0 30px 85px;
                &:before{
                    content: "";
                    position: absolute;
                    right: 30px;
                    top: 35px;
                    background: url(/img/sprite.png) no-repeat -93px -70px;
                    width: 17px;
                    height: 19px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 30px;
                    top: 23px;
                    background: url(/img/q.png) no-repeat;
                    width: 34px;
                    height: 34px;
                }
                div{
                    width: 90%;
                    overflow: hidden;
                }
            }
            .answer{
                display: none;
                position: relative;
                margin-bottom: 20px;
                padding: 0 0 20px 85px;
                .text{
                    padding: 20px 0 0;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 30px;
                    top: 13px;
                    background: url(/img/a.png) no-repeat;
                    width: 34px;
                    height: 34px;
                }
                &.on{
                    display: block;
                }
            }
        }
    }
}
